<div class="row">
    <div id="clearance" class="password-reset large-6 medium-6 small-8 large-offset-3 medium-offset-3 small-offset-2 large-centered medium-centered small-centered  columns ">
        <fieldset>
        <legend><h3 class="centered"><%= t '.title' %></h3></legend>
        <p class="proposition-text"><%= t '.description' %></p>
            <%= form_for :password, url: passwords_path do |form| %>
                <div class="text-field">
                    <%= form.label :email %>
                    <%= form.text_field :email, type: 'email' %>
                </div>
                <div class="submit-field">
                    <%= form.submit nil,  class: 'button success tiny radius generic-button' %>
                </div>
            <% end %>
        </fieldset>
    </div>
</div>





